.page {
  margin: 0;
  background-color: #100c2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container {
  margin: 80px auto 0;
  width: 500px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid #78dfd3;
  border-radius: 30px;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.request-choise {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
}

.description {
  color: #78dfd3;
  font-size: 22px;
}

.interactive {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}

.button {
  width: 200px;
  border: 1px solid #78dfd3;
  border-radius: 15px;
  background-color: transparent;
  color: #78dfd3;
  font-size: 16px;
  padding: 10px 40px;
  box-shadow: none;
}

.button:hover {
  box-shadow: 2px 2px 2px #78dfd3;
  transition: box-shadow .4s ease-in;
}

.button:disabled {
  opacity: .5;
}

.values {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 40px;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #78dfd3;
  color: #78dfd3;
  font-size: 16px;
  box-shadow: none;
}

.input:focus {
  outline: none;
  box-shadow: 2px 5px 5px #78dfd3;
  transition: box-shadow .4s ease-in;
}

.reset {
  margin-top: 32px;
}